.flex-container{
    display: flex;
    justify-content: space-between;
}

.bg-color-teal{
    background-color: teal;
}

.font-color-white{
color: whitesmoke;
}

.custom-padding{
    padding: 2rem;
}
